page-user-details {
  #user-pic {
    border-radius: 50%;
    padding: 2rem;
  }

  #user-name {
    padding-top: 3.5rem;
  }

  #user-joined {
    margin-top: 0;
    color: #185d62;
  }

  #settle-btn {
    border-width: 2px;
    border-color: white;
    color: white;
  }
}
