<ion-header>
    <ion-navbar primary hideBackButton="true">
        <button class="header-button" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>ElectriMate</ion-title>
        <ion-buttons end>
            <button (click)="viewBillDate()" class="header-button" ion-button icon-only>
                <ion-icon name="calendar"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="loadData($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-item *ngIf="houseOwner">
            <ion-label>Select the Module</ion-label>
            <ion-select [(ngModel)]="module" (ionChange)="loadData()">
                <ion-option *ngFor="let module of modules"
                            [value]="module">
                    {{module.moduleName}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-row *ngIf="!sensorsAvailable && houseOwner">
            <ion-col col-12>
                <h3 style="text-align: center">No sensors found</h3>
                <button ion-button full color="danger" (click)="scanSensor()">
                    <ion-icon name="add"></ion-icon>
                    &nbsp;Add Sensors
                </button>
            </ion-col>
        </ion-row>
        <div [hidden]="loading">
            <ion-row style="margin-top: 10px">
                <div *ngIf="houseOwner">
                    <h3 style="text-align: center">Usage Summary from {{moduleBill?.from|date:'mediumDate'}}</h3>
                    <canvas #doughnutCanvas></canvas>
                    <ion-card class="total-bill-card">
                        <ion-card-header style="text-align: center"><b>Total Usage</b></ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col col-6><b>{{(moduleBill?.wattHours|| 0)/1000|number}}<span>kWh</span></b></ion-col>
                                <ion-col col-6><b><span>Rs. </span>{{(moduleBill?.amount||0)|number:'1.2-2'}}</b></ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>

                    <ion-card class="tenant-bill-card" [ngStyle]="{'background-color': bill.color}"
                              *ngFor="let bill of bills">
                        <ion-card-header style="text-align: center">
                            <b>{{bill.user.displayName == undefined? 'No Name' : bill.user.displayName}}</b>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col col-6><b>{{(bill.wattHours||0)/1000|number}}<span>kWh</span></b></ion-col>
                                <ion-col col-6><b><span>Rs. </span>{{(bill.amount||0)|number:'1.2-2'}}</b></ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div *ngIf="!houseOwner">
                    <h3 style="text-align: center">Usage Summary from {{bill?.from|date:'mediumDate'}}</h3>
                    <ion-card class="tenant-bill-card">
                        <img src="assets/img/tenant-header.png"/>
                        <ion-card-content>
                            <ion-row>
                                <ion-col col-6>
                                    <h1><ion-icon name="bulb"></ion-icon></h1>
                                    <h1>{{(bill?.wattHours|| 0)/1000|number}}<span>&nbsp;kWh</span></h1>
                                </ion-col>
                                <ion-col col-6>
                                    <h1><ion-icon name="cash"></ion-icon></h1>
                                    <h1><span>Rs. </span>{{(bill?.amount||0)|number:'1.2-2'}}</h1>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </div>
                <button ion-button full color="primary" (click)="showHistory()">
                    <ion-icon name="clock"></ion-icon>
                    &nbsp;View History
                </button>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
