page-home {
  .ios, .md {

    page-home {

      .scroll-content {
        background-color: map-get($colors, light);
      }

      ion-card-header {
        font-weight: bold;
      }

    }

  }

  .header-button {
    display: block !important;
    color: white;
  }

  .total-bill-card {
    background-color: #185d62;
    color: #ffffff;
    text-align: center;
    ion-card-header {
      text-align: left;
      color: white;
      font-size: 1.7rem;
    }
    b {
      font-size: 24px;

      span {
        font-size: 12px;
      }
    }
  }

  .tenant-bill-card {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    ion-card-header {
      text-align: left;
      color: white;
      font-size: 1.2rem;
    }
    h1 {
      font-size: 24px;
      color: white;
      span {
        font-size: 16px;
      }
    }
  }
}
